In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../TextFiles/moviereviews.tsv", sep="\t")

In [3]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [4]:
len(df)

2000

In [8]:
# print(df['review'][2])

In [9]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [10]:
df.dropna(inplace=True)

In [11]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [15]:
mystring = 'hello'
empty = '    '

In [13]:
mystring.isspace()

False

In [16]:
empty.isspace()

True

In [17]:
blanks = []

for i, lb, rv in df.itertuples():
    if rv.isspace():
        blanks.append(i)

In [18]:
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [19]:
df.drop(blanks, inplace=True)

In [20]:
len(df)

1938

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X = df['review']

In [23]:
y = df['label']

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [27]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [29]:
text_clf = Pipeline([('tfidf', TfidfVectorizer()),
                    ('clf', LinearSVC())])

In [30]:
text_clf.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [31]:
predictions = text_clf.predict(X_test)

In [33]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [34]:
print(confusion_matrix(y_test, predictions))

[[235  47]
 [ 41 259]]

In [35]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         neg       0.85      0.83      0.84       282
         pos       0.85      0.86      0.85       300

    accuracy                           0.85       582
   macro avg       0.85      0.85      0.85       582
weighted avg       0.85      0.85      0.85       582

In [36]:
print(accuracy_score(y_test, predictions))

0.8487972508591065